<div class="container-fluid" style="background-image: url('<%= asset_path('top.jpg') %>');background-size: cover; background-repeat: no-repeat; background-position: center bottom;">
  <div class="row">
    <div class="text-white mx-auto col-10 col-sm-9 col-lg-7 col-xl-6 mt-5">
      <h1 style="font-family: Georgia, Charter, Arial, sans-serif;">Hotel Diary</h1>
    </div>
  </div>
  <div class="row">
    <div class="text-white mx-auto col-10 col-sm-9 col-lg-7 col-xl-6 mt-4 mb-5">
      <h3>〜旅の記録が次の旅を導く〜</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="bg-secondary text-white  mx-auto col-10 col-sm-9 col-lg-7 col-xl-6 my-5">
      <p>"Hotel Diary"は、旅行者の皆様が宿泊体験を記録・共有し、他の旅行者との情報交換を通じて最適な宿泊施設を見つける手助けをするSNSサイトです！</br>
          宿泊記録を共有し、他の旅行者と繋がることで、皆様がより豊かな旅行体験をできる環境を提供いたします!</br>
          一緒に"最高の旅"を作りあげましょう！！
      </p>
    </div>
  </div>
  
<% if current_user %>
  <div class= "row">
    <div class="btn-wrappert mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 mt-5 mb-4">
      <%= link_to "はじめる", user_path(current_user.id), :class=>"btn btn-success btn-sm btn-block" %>
    </div>
  </div>
<% end %>
  
</div>
