<%= form_with model: @user do |f| %>
  <label for="inputReason">強制退会理由</label>
  <%= f.text_field :delete_reason %>
  <%= f.submit "理由を保存" %>
  <%= link_to "強制退会", admin_withdraw_path(@user), method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に強制退会させますか？" }   %>
<% end %>